---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=Denver,%20Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.050 TT 0 0.051"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 772,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503198W",
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "title_sort": "Denver, Co",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "0762507845",
                        "9780762507849"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1767942895778660352,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL896607W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945157M",
                        "/works/OL896607W",
                        "/authors/OL79165A"
                    ],
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "title_suggest": "Denver west, CO and Bailey, CO: Denver, CO",
                    "title_sort": "Denver west, CO and Bailey, CO: Denver, CO",
                    "subtitle": "39105, digital raster graphic data",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945157M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                        "9780607620054",
                        "0607620056"
                    ],
                    "last_modified_i": 1272517172,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "USGS Branch of Distribution"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL79165A"
                    ],
                    "author_name": [
                        "United States Geological Survey"
                    ],
                    "author_alternative_name": [
                        "Geological Survey (U. S.)",
                        "Geological Survey (U.S.) 088",
                        "United States. Geological survey.",
                        "United States. Geological Survey",
                        "U.S. Geological Survey",
                        "Geological Survey. (U.S.)",
                        "Geological Survey (U .S.)",
                        "Geological Survey (U.S.)",
                        "United States. Geological Survey."[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=weather_key&q=Denver,%20Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/25/2023 17:29:27'
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 2cee441fc95b36b16f4269ef3698af53
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1695662966,"localtime":"2023-09-25
        11:29"},"current":{"last_updated":"2023-09-25 11:15","temp_f":72.7,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"},"humidity":20,"feelslike_f":72.3,"vis_miles":9.0,"uv":6.0},"forecast":{"forecastday":[{"date":"2023-09-25","day":{"maxtemp_f":82.6,"mintemp_f":49.8,"totalsnow_cm":0.0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"}},"astro":{"sunrise":"06:50
        AM","sunset":"06:52 PM"},"hour":[{"time":"2023-09-25 00:00","temp_f":60.4,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-25
        01:00","temp_f":62.7,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-25
        02:00","temp_f":61.7,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-25
        03:00","temp_f":53.4,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com[...]
[...]
